@font-face {
    font-family: "3Dumb";
    src: url("/assets/fonts/23dumb/3Dumb.woff"),
        url("/assets/fonts/23dumb/3Dumb.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "2Dumb";
    src: url("/assets/fonts/23dumb/2Dumb.woff"),
        url("/assets/fonts/23dumb/2Dumb.ttf");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    width: 100%;
    margin: 0;
    font-family: "Oldenburg", serif;
    counter-reset: fn;
}

body {
    overflow-x: auto;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "2Dumb";
}

section > p {
    font-size: 20px;
}

dt-article div.meta {
    position: absolute;
    left: 669px;
    top: 69px;
    font-size: 0.6em;

    border: solid black 1px;
    box-shadow: -6.9px 6.9px rgba(0, 0, 0, 0.5);
    padding: 1.5em 1em;
    margin: -1em 0;
    background: #efc9be;
    min-width: 200px;

    & time {
        display: block;
        width: max-content;
    }

    & a {
        color: inherit;
    }
}
