@font-face {
    font-family: '3Dumb';
    src: url('/assets/fonts/23dumb/3Dumb.woff');
        url('/assets/fonts/23dumb/3Dumb.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '2Dumb';
    src: url('/assets/fonts/23dumb/2Dumb.woff');
        url('/assets/fonts/23dumb/2Dumb.ttf');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Oldenburg' serif;
}

body {
    overflow-x: auto;
}

h2, h3, h4, h5, h6 {
    font-family: '2Dumb';
}
