<template shadowrootmode="open">
  <style>
    :host {
      isolation: isolate;
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -100;
    }

    div:first-of-type {
      backdrop-filter: saturate(1);
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVR42mP4DwUMQACm/yMBBhhAEURWDgIAWj4v0SL/2gUAAAAASUVORK5CYII=");
      width: 100vw;
      height: 100vh;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 1;
    }

    div:nth-of-type(2) {
      background: hsl(180, 100%, 50%);
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      mix-blend-mode: darken;
      animation: 1.1s infinite rotate-background;
      animation-play-state: paused;
      animation-delay: calc(var(--scroll) * -1s);
    }

    @keyframes rotate-background {
      to {
        background: hsl(0, 100%, 50%);
      }
    }

    div:last-child {
      height: 100%;
      background: linear-gradient(to top, #49297e, transparent),
        url(/assets/noise.svg);
      filter: contrast(290%) brightness(1000%);
      animation: 15s infinite rotate-contrast;
    }

    @keyframes rotate-contrast {
      0% {
        filter: contrast(175%) brightness(1000%);
      }
      50% {
        filter: contrast(300%) brightness(1000%);
      }
      100% {
        filter: contrast(175%) brightness(1000%);
      }
    }
  </style>
  <script>
    window.addEventListener(
      "scroll",
      () => {
        var h = document.documentElement,
          b = document.body,
          st = "scrollTop",
          sh = "scrollHeight";

        var pos = (h[st] || b[st]) / ((h[sh] || b[sh]) - h.clientHeight);
        document.body.style.setProperty("--scroll", pos);
      },
      false,
    );
  </script>
  <div></div>
  <div></div>
  <div></div>
</template>
