<template shadowrootmode="open">
  <style>
    :host {
        position: relative;
    }
    ::slotted(*) {
      border: solid black 1px;
      box-shadow: -6.9px 6.9px rgba(0, 0, 0, 0.5);
      padding: 1.5em 1em;
      margin: -1em 0;
      background: #fff;
      max-width: 669px;
    }
    ::slotted(.date) {
        font-size: 0.6em;
        position: absolute;
        left: calc(669px + 5em);
        top: -1.5em;
        width: max-content;
    }
  </style>
  <article><slot></slot></article
></template>
