<template shadowrootmode="open">
  <style>
    :host {
        position: relative;
    }
    ::slotted(*) {
      border: solid black 1px;
      box-shadow: -6.9px 6.9px rgba(0, 0, 0, 0.5);
      padding: 1.5em 1em;
      margin: -1em 0;
      background: #fff;
      max-width: 669px;
      transition: transform 0.25s ease, box-shadow 0.25s ease;
    }
    ::slotted(*:hover) {
      transform: translateY(-1px) scale(1.002);
      box-shadow: -7px 9px rgba(0, 0, 0, 0.55);
    }
    ::slotted(*:nth-child(5n + 1)) {
      background: #fff;
    }
    ::slotted(*:nth-child(5n + 2)) {
      background: #faf8f3;
    }
    ::slotted(*:nth-child(5n + 3)) {
      background: #f5f1e8;
    }
    ::slotted(*:nth-child(5n + 4)) {
      background: #fefdfb;
    }
    ::slotted(*:nth-child(5n + 5)) {
      background: #f8f5ed;
    }
    ::slotted(.date) {
        font-size: 0.6em;
        position: absolute;
        left: calc(669px + 5em);
        top: -1.5em;
        width: max-content;
    }
  </style>
  <article><slot></slot></article
></template>
